<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dealers Insights</title>

    <link rel="shortcut icon" href="~/images/volvo/Volvo_iron_mark_RGB_40x40px.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fonts/css/all.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/sidebar-themes.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="page-wrapper ice-theme sidebar-bg bg1 toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-item sidebar-brand">
                    <a asp-page="/Index">Dealer Insights</a>
                </div>
            </div>
            <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="~/images/general/user.jpg" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        @*@name <strong>@lastName</strong>*@
                    </span>
                </div>
            </div>
            <div class=" sidebar-item sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a asp-page="/Index">
                            <i class="fa fa-tachometer-alt"></i>
                            <span class="menu-text">Dashboards</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-money-bill-alt"></i>
                            <span class="menu-text">Financial Services</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <span class="menu-text">Parts</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span class="menu-text">Sales</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            <span class="menu-text">Services</span>
                        </a>
                    </li>
                    @*<li class="sidebar-dropdown">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                <span class="menu-text">Privacy</span>
                            </a>
                        </li>*@
                </ul>
            </div>
        </nav>
        <main class="page-content pt-2">
            <div class="form-group col-md-1" style="margin-bottom: 0px;">
                <a id="toggle-sidebar" class="btn btn-dark" href="#">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid p-5">
                <partial name="_CookieConsentPartial" />
                <div class="row">
                    <div class="form-group col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
